body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

#header {
    background-color: rgb(62, 112, 206);
    display: flex;
    justify-content: center;
    height: calc(100vh/10)
}

#sidebar-todo-container {
    background-color: rgb(189, 189, 189);
    display: flex;
    flex-direction: row;
    height: calc(100vh/10*8);
}

#sidebar {
    background-color: grey;
    display: flex;
    justify-content: center;
    width: calc(100%/10*2);
}

#todo-grid-container {
    background-color: rgb(221, 219, 219);
    width: calc(100%/10*8);
    display: flex;
    flex-direction: column;
    justify-content: start;

}

#todo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-auto-rows: minmax(20%, 1fr); /* Added this line */
    gap: 10px;
    height: calc(100%/10*9);
    padding: 10px;
}
#todo-grid * {
    background-color: aqua;
}
#todo-grid-title {
    background-color: brown;
    margin: 0;
    display: flex;
    justify-content: center;
    height: calc(100%/10);
}

#todo-card-title {
    color:blueviolet;
}

#addToDoForm {
    display: flex;
    flex-direction: column;
}

#todo-priority-container {
    display: flex;
}

#footer {
    background-color: rgb(62, 112, 206);
    display: flex;
    justify-content: center;
    height: calc(100vh/10);
}